<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Raven's Site</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
</head>

<body>
    
    <br>
    <br>

    <div class="title">
        <b > Hello.</b>
        <br>
        <b>I am raven/spawnegg</b>
        <br>
        <b>I am a full stack software engineer. </b>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="text">
        <b>Things I do</b>
        <ul>
        <li>Discord Bot Developer</li>
        <li>Website Developer</li>
        <li>GFX Artist (with kirta and gimp)</li>
    </ul>
    </div>

    <div class="text">
        <b>People I work for</b>
        <ul>
        <li>Techsterr.ammen - a tiktoker with 350k followers</li>
        <li>KJOPcs - A tiktoker with 300k followers</li>
        <li>I am also a developer for <a href="https://steambot.me">SteamBot</a>, a discord bot for tracking Steam account statistics, games, and events. </li>
    </ul>
    </div>

    <footer><b class="linkspage" ><a href="links">Links Page</a</b></footer>

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script  src="index.js"></script>
</body>
</html>