<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Website thats good</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
</head>

<body>
    <img id="userPhoto" src="static/045-dracula.svg" alt="User Photo">
    
    <a href="" id="userName">@spawnegg</a>
    <div id="links">
        <a class="link" href="https://github.com/ProgrammingMyLife" target="_blank">Github</a>
        <a class="link" href="https://tiktok.com/@spawnegg" target="_blank">Tiktok</a>

        <a class="link" href="https://discord.gg/9uSTE3Qv2C" target="_blank">Discord</a>

       

    </div>

    

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script  src="index.js"></script>
</body>
</html>